<!DOCTYPE html>
<html>

<head>
    <title>
        게시글 작성
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        게시글 작성
    </h1>

    <form method="post" action="/articles/create">
        제목: <input type="test" name="title"> <br><br>
        <input type="submit" value="등록"> <br>


    </form>
</body>

</html>