<!DOCTYPE html>
<html>

<head>
    <title>
        게시글 목록
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        게시글 목록
    </h1>

    <table>
        <thead>
            <tr>
                <td>
                    번호
                </td>
                <td>
                    제목
                </td>
                <td>
                    조회수
                </td>
                <td>
                    IP
                </td>
                <td>
                    작성자
                </td>
                <td>
                    작성일
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                    query string 방식
                    <a href="/articles/update?idx=1&stock=100">
                        title1
                    </a>
                </td>
                <td>100</td>
                <td>111.111.111.111</td>
                <td>Cathy</td>
                <td>2022.02.11</td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    parameter(wild card) 방식
                    <a href="/articles/update/2">
                        title2
                    </a>
                </td>
                <td>200</td>
                <td>222.222.222.2</td>
                <td>Lauren</td>
                <td>2022.03.11</td>
            </tr>
        </tbody>
    </table>
</body>

</html>