<!DOCTYPE html>
<html>

<head>
    <title>
        게시글 수정
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        게시글 수정
    </h1>

    <form method="post" action="/articles/update">
        제목: <input type="test" name="title" value="<%=article.title%>"> <br><br>
        <input type="submit" value="수정"> <br>
        <input type="button" value="삭제" onclick="fnDelete();">

    </form>

    <script>
        function fnDelete() {
            if (confirm('Delete?')) {
                location.href = "/articles/delete?idx=1";
            }
        }
    </script>
</body>

</html>