<!-- <!DOCTYPE html>
<html>

<head>
    <title>
        게시글 수정
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        게시글 수정
    </h1>

    <form method="post" action="/articles/update">
        제목: <input type="test" name="title" value="<%=article.title%>"> <br><br>
        <input type="submit" value="수정"> <br>
        <input type="button" value="삭제" onclick="fnDelete();">

    </form>

    <script>
        function fnDelete() {
            if (confirm('Delete?')) {
                location.href = "/articles/delete?idx=1";
            }
        }
    </script>
</body>

</html> -->



<!--우측 콘텐츠 헤더영역 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>게시글 수정</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a> |
            </li>
            <li>
                <a>게시글 정보 관리</a> |
            </li>
            <li class="active">
                <strong>게시글 수정</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<!--우측 콘텐츠 영역 -->
<div class="wrapper wrapper-content">
    <div class="ibox-content m-b-sm border-bottom">

        <form id="modifyForm" action="/articles/update" method="post">

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">제목</label>
                        <input id="title" type="text" name="title" class="form-control" value="<%=article.title%>">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">내용</label>
                        <textarea id="contents" class="form-control" name="contents" rows="10"
                            cols="5"><%=article.contents%></textarea>
                    </div>
                </div>
            </div>


            <div class="text-center">
                <button type="submit" class="btn btn-primary">수정</button>
                <a href="/articles/list" class="btn btn-info">목록</a>
            </div>

        </form>

    </div>
</div>

<script>
    //html요소가 웹브라우저에 모두 렌더링 완료되면 실행되는 메소드ready()
    $(document).ready(function () {
        console.log("페이지가 모두 로딩되었습니다.");
    });
    //서버로 전달하기전에 입력값 유효성 검사 처리하기
    $("#modifyForm").submit(function () {
        if ($("#title").val() == "") {
            alert("제목을 입력해주세요.");
            $("#title").focus();
            return false;
        };
        if ($("#contents").val() == "") {
            alert("내용을 입력해주세요.");
            $("#contents").focus();
            return false;
        };
        //서버로 입력 데이터를 전송합니다.
        return true;
    });
</script>