<!DOCTYPE html>
<html>

<head>
  <title>
    Sample
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Sample Page</h1>
  <p>Welcome to Sample Page</p>
  제품번호: <%= product.pno %> <br>
    제품명: <%= product.productName %> <br>
      브랜드: <%= product.brand %><br>
        가격: <%= product.price %><br>
</body>

</html>