<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 수정 / 삭제</title>
</head>

<body>
    <form action="/members-async/modify/<%=member.id%>" method="post">
        아이디:<input type="text" name="userId" value="<%=member.userid%>"><br>
        이름 : <input type="text" name="userName" value="<%=member.username%>"><br>
        <input type="submit" value="수정">
        <a href="/members-async/delete?id=<%=member.id%>">삭제</a>
    </form>
</body>

</html>